#container {
  margin: auto;
}

.header-content {
  text-align: left;
  color: white;
  margin: 0;
}

.header-entry {
  color: white;
  margin: 0;
  margin-left: 0.5rem;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 3px;
}

.padding-top {
  padding-top: 0.5rem;
}

.align-center {
  align-items: center;
}

header {
  background-color: #562b80;
}

img {
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.submit-button {
  display: flex;
  justify-content: end;
}

button {
  background-color: #562b80;
  color: white;
  border: 0;
  padding: 0.3rem 0.5rem;
}

.no-entries {
  text-align: center;
}

.entries-navigation {
  justify-content: space-between;
  align-items: center;
}
